<!--navbar-->
<div class="container-fluid page-styling site-header-before">
  <div class="row">
    <div class="col-lg-4">
      <ul
        class="links_list links_list-align-left align-center-desktop topbar-social"
      >
        <li>
          <p class="links_list-value">
            <a
              href="https://www.facebook.com/mipclista?locale=es_LA    "
              target="_blank"
              rel="nofollow"
            >
              facebook
            </a>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-8">
      <ul
        class="links_list links_list-align-right align-center-desktop topbar-contacts"
      >
        <li>
          <p class="links_list-label">Dirección</p>
          <p class="links_list-value">
            <a
              href="https://www.google.com/maps/place/Mundo+Computadoras+Tacna/@-17.9940887,-70.3285551,13z/data=!4m10!1m2!2m1!1sventa+de+monitores,+tacna!3m6!1s0x915acf6f7e513421:0x58f78180cd30585b!8m2!3d-17.9940887!4d-70.2523374!15sChl2ZW50YSBkZSBtb25pdG9yZXMsIHRhY25hWhoiGHZlbnRhIGRlIG1vbml0b3JlcyB0YWNuYZIBGmNvbXB1dGVyX2FjY2Vzc29yaWVzX3N0b3Jl4AEA!16s%2Fg%2F11r71j6r4m?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="nofollow"
              >Av. Jorge Basadre,Tacna Perú</a
            >
          </p>
        </li>
        <li>
          <p class="links_list-label">Contacto</p>
          <p class="links_list-value">
            <a href="mailto:mundoComputadoras@email.com"
              >mundoComputadoras@Email.com</a
            >
          </p>
        </li>
        <li>
          <p class="links_list-label">Telefono</p>
          <p class="links_list-value">
            <a href="#">(+51) 951254236</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
