 <div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Categorias</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            {% for categoria in categorias %}
            <li>
                <a href="{% url 'web:productosPorCategoria' categoria.id %}">
                    <div class="categorias">
                        <div class="categoria-item">
                            <span>{{categoria.nombre}}</span> <span class="cantidad">{{categoria.producto_set.all.count}}</span>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
